# === Builds / reports / coverage ===
dist/
coverage/
.lighthouseci/
*.report.json
*.report.html

# LHCI временные файлы
localhost-index_html-*.report.json
localhost-index_html-*.report.html
localhost-*index_html*.report*


# === Node / package managers ===
node_modules/
.pnpm-store/

# === Editors / OS noise ===
.vscode/
.DS_Store

# === Misc ===
pnpm-debug.log*
npm-debug.log*
manifest.json
playwright-report
test-results
blob-report
*.report
coverage
dist
.pnpm-store
